:root {
    --primary: rgba(31, 29, 43, 0.12);
    --primary-opacity: #e7e5eb2d;
    --white: #fff;
    --green: #73E0A9;
    --green-dark: #73e0a97c;
    --violet: #333a7a;

    --gradient: linear-gradient(90.71deg, #73E0A9 0%, #5B68DF 100%);
    --gradient-reverse: linear-gradient(90.71deg, #5B68DF 0%, #73E0A9 100%);
    --gradient-dark: linear-gradient(45.71deg, #242736 0%, #272743 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background: rgb(47, 49, 66);
    position: relative;
}
button {
    border: 0;
    background: transparent;
    cursor: pointer;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}

.btn-border-gradient {
    border-radius: 100rem;
    padding: 1rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: .5rem 3rem;
    color: var(--white);
    box-shadow: 0 0 6px 0 var(--primary);
    border: solid 1px transparent;
    background-image: linear-gradient(rgba(31, 29, 43, 0.12), rgba(31, 29, 43, 0.12)), var(--gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px rgba(31, 29, 43,0.85) inset;
}
.btn-bg-gradient {
    background: var(--gradient); 
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: .5rem 3rem;
}
.title {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 5.2rem;
    color: var(--white);
}
.text-gradient {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2rem;
    background-image: var(--gradient);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border-gradient {
    border: double 1px transparent;
    background-image: linear-gradient(#2D2F3F, #2D2F3F), var(--gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
}