@media  (max-width: 1024px) {
    
}

@media  (max-width: 900px) {
    
}

@media  (max-width: 600px) {
    .section-create {
        margin-top: 260rem;
    }
    .section-create .title {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    .instruction {
       display: grid;
       grid-template-columns: 1fr 1fr;
       align-items: center;
       margin-top: 5rem;
    }
}
@media  (max-width: 320px) {
    .section-create {
        margin-top: 275rem;
    }
}